/*--------------------Colors----------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #432d54;
} 

/*--------------------Timetable------------------*/

.timetable-container {
    text-align: center;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}

.timetable-container {
    
}

.timetable-title {
    letter-spacing: 1px;
}
.table {
    width: 100%;
    text-align: center;
    color: #432d54;
}

.weekdays {
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*--------------------Containers------------------*/
.about-container {
.about 
    text-align: center;
    line-height: 2;
}

.location-container {

}

.container-review{
    text-align: center;
}

.blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 30px;
    margin-right: 30px;
}

/*--------------------Jumbotron------------------*/

.bg-custom {
    background-color: transparent;
    color: #948eb7;
}

.text-call {
    color: white;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-content {
    color: #fafafa;
    margin-bottom: 50px;
}

.jumbotron-container {
    height: 80vh;
    margin-bottom: 30px;
    background: url('../images/bootcamp.jpg') no-repeat bottom right fixed;
    padding: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron-container-lessons {
    height: 80vh;
    margin-bottom: 30px;
    background: url('../images/lessons-page.jpg') no-repeat bottom right fixed;
    padding: -20px;
    -webkit-background-size: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron-container-timetable {
    height: 80vh;
    margin-bottom: 30px;
    background: url('../images/timetable-page.jpg') no-repeat bottom right fixed;
    padding: -20px;
    -webkit-background-size: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron-container-location {
    height: 80vh;
    margin-bottom: 30px;
    background: url('../images/location-page.jpg') no-repeat bottom right fixed;
    padding: -20px;
    -webkit-background-size: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/*table, th, td {
  border: None;
  border-collapse: collapse;
}
th, td {
  padding: 3px;
}

p {
text-transform: uppercase;
}*/

/*--------------------Nav------------------------*/

.navbar-brand {
    float: left; 
    letter-spacing: 2px;
    text-transform: uppercase;

    margin-left: 20px;
    margin-top: 15px;
    font-size: 1.7rem;
    padding:-40px;
    color: #948eb7;
    line-height: 30px;
   background-color: transparent;
}

.navbar-nav {
    text-align: uppercase;
}

.navbar-toggler {
   
}

.navbar {
   padding: 10px 40px;
}

.nav-link {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-item-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.05rem;
    text-transform: uppercase;
    background-color: transparent;
}

.nav-item a:hover {
    color: purple; !important
}

/*-----------------Button------------------------*/

.btn {
    color: purple;
}

<<<<<<< HEAD
.text-other {
    color: white;
}

=======
>>>>>>> c8457cb4393ef905207f25eba23f1e84ba69b570
.btn-outline-light-other {
    color: white;
    background-color:  #948eb7;
}

.btn .btn-light .btn-md {
    color: purple;
}

.menu {
    float: right;
    margin-right: 0px;
    margin-top: 0px;
    line-height: 30px;
    background-color: transparent;
}


.blockquote { 
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}


.lesson {
    font-family: 'Lato', sans-serif;
}

.modal-title {
    text-align: center;
}

.modal-body {
    text-align: center;
}

/*--------------------Location---------------------*/

.location-container {
    text-align: left;
    margin-top: 60px;
    margin-bottom: 100px
}

.address {
    font-family: 'Lato', sans-serif
    font-size: 3px;
}

.location-map {
    width: 400;
    height: 350;
}

.location-map img{
    height: 100%;
    width: 100%;
}


/*--------------------Footer----------------------*/

.footer-info {
    background: #948eb7;
    padding: 10px 0px;
    color: #432d54;
}

.contact {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
}

.title {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.download {
    text-align: center;
}

i.fa-download i:hover {
    background-color: transparent;
    color: purple;
}

.social-media{
    text-align: center;
}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 120%;
    margin: 1%;
    padding: 2%;
    color: #777777;
}

.social-media li a i:hover {
    color: purple;
}

/*----------Media Queries------------------*/
@media (min-width: 768px) {
  .custom-element {
    color: var(--primary);
  }
}