/*--------------------Colors----------------------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #432d54;
} 

/*--------------------Containers------------------*/
.message-container {}
    



.about-container {


}

.quote-container {

}

/*--------------------Jumbotron------------------*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-container {
    height: 80vh;
    margin-bottom: 30px;
    background: url('../images/bootcamp.jpg') no-repeat bottom right fixed;
    padding: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

/*--------------------Nav------------------------*/

.navbar-brand {
    float: left; 
    margin-left: 30px;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:-40px;
    color: #655078;
}

navbar-nav {


}
.navbar-toggler {
    background-color: transparent;

}

.navbar {
    padding: 10px 50px;
    background-color: black;
    text-transform: uppercase;
}

.nav-item-list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.05rem;
    text-transform: uppercase;
}
.nav-item a:hover {
    color: #948eb7;
}






.about {
    text-align: center;
}

.lesson {
    font-family: "Open Sans Condensed";
}

.menu {
    float: right;
    margin-right: 0px;
}

/*--------------------Social Media----------------------*/
.social-media{
    text-align: center;
}

.social-media li{
    display: inline;
}

.social-media i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}